.adminContainer {
  @apply
    flex
    flex-col
    h-full
}

.header {
  @apply
    flex
    justify-center
    text-slate-50
    bg-slate-900
    rounded-lg
    p-4
}

.navbar {
  @apply
    gap-[15px]
    flex
}

.navbar a {
  @apply 
    bg-slate-950
    py-[8px]
    px-[12px]
    rounded-lg

    /* hover & effects */
    hover:opacity-[.9]
    hover:text-amber-400
    hover:scale-[1.03]
    transition-all
    duration-[.2s]
}